# Node
node_modules/
dist/
.DS_Store

# Turbo
.turbo/

# IDE & OS
.vscode/
.idea/
*.swp

# Logs & Reports
logs/
*.log
coverage/
playwright-report/

# Build outputs
dist/
*.tsbuildinfo

# Compiled JavaScript
*.js
*.d.ts
*.d.ts.map
*.js.map

# Local Env
.env
.env.*
!.env.example

# Temporary
temp/
tmp/